<div class="container">

<h1 class="header center">Connexion </h1>

  <form ng-submit="login()"
				name="loginForm"
				novalidate
				class="row">
		
		<div class="row">
      
  	  
		<div class="input-field">
      
    		<label for="">Email</label>
       		<input 
             type="email" 
             name="email" 
             class="validate"
             required
             ng-blur="validEmail = true"
             ng-focus="validEmail = false"
       		   ng-model="loginInfo.username"/>
      <div ng-messages="loginForm.email.$error" ng-if="showErrors">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
      <div ng-messages="loginForm.email.$error" ng-if="validEmail">
        <div ng-message="email">Entrez un email valide</div>
      </div>
    </div>
    

		<div class="input-field">
      
    		<label for="">Mot de passe</label>
       	 	<input type="password" 
          name="password" 
          class="validate"
          required
          ng-model="loginInfo.password"/>
    <div ng-messages="loginForm.password.$error" ng-if="showErrors">
      <div ng-message="required">Ce champs est requis.</div>
    </div>
    
  </div>
</br>
    
		<div>
      <button type="submit" onclick="Materialize.toast('Vous êtes maintenant connecté', 4000,'',function(){})" class="waves-effect waves-light btn-large right blue">Se connecter</button>
    </div>
  </form>
</div> 
 