<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot">
      <div class="container">
        <h1 class="header light white-text">Se connecter</h1>
          <h5 class="header col s12 light white-text">Connectez-vous à votre compte AlliéEs</h5>    
    </div>
    </div>
   
</div>


<div class="espace">
<div class="container" login-form>
  <form ng-submit="signin(loginForm, loginInfo)"
				name="loginForm"
				novalidate
				class="row">
		
		<div class="row">
      
  	  
		<div class="input-field">
      <i class="material-icons prefix">perm_identity</i>
      
    		<label for="">Email</label>
       		<input 
             type="email" 
             name="email" 
             class="validate"
             required
             ng-blur="validEmail = true"
             ng-focus="validEmail = false"
       		   ng-model="loginInfo.username"/>
      <div ng-messages="loginForm.email.$error" ng-if="showErrors">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
      <div ng-messages="loginForm.email.$error" ng-if="validEmail">
        <div ng-message="email">Entrez un email valide</div>
      </div>
    </div>
    

		<div class="input-field">
      <i class="material-icons prefix">vpn_key</i>
      
    		<label for="">Mot de passe</label>
       	 	<input type="password" 
          name="password" 
          class="validate"
          required
          ng-model="loginInfo.password"/>
    <div ng-messages="loginForm.password.$error" ng-if="showErrors">
      <div ng-message="required">Ce champs est requis.</div>
    </div>
    
  </div>
</br>
    
		<div>
      <button type="submit" class="waves-effect waves-light btn-large right orange darken-3">Se connecter</button>
    </div>
  </form>
</div> 

</div>
 