<div id="index-banner" class="jumbotron">
  <div class="section no-pad-bot" >
    <div class="container">
      <br><br>
      <h1 class="header light white-text">Paramètres personnelles</h1>
        <h5 class="header light white-text">Ici utilisateur paramètres modification</h5>
     </div>
  </div>
</div>

<div class="container espace">

<div class="card grey lighten-4 z-depth-0">
            <div class="card-content black-text">
            <blockquote>
              <span class="card-title black-text">Important</span>
              
             <p>Utilisez le formulaire afin de modifier vos paramètres personnelles. Vous n'êtes pas obliger de modifier tous les champs. </p>
           </blockquote>
           <div class="card-action orange-darken-3-text">
               <a class="btn-flat white black-text">Conditions d'utilisation</a>
               <a class="btn-flat white black-text">Suprimer mon compte</a>
            </div>
            </div>
          </div>

  <form ng-submit="modifyUser(userForm, user)"
        name="userForm"
        novalidate
        class="row">

        <div class="section">
        <h5>Informations personnelles</h5>
        <p>Entré ici vos informations personelles </p>
        <div class="space"></div>

    <div class="row">
    <div class="input-field col s12">
      <input type="text" 
             name="lastname"
             class="validate"
             required
             ng-model="user.lastname"/>
      <div ng-messages="userForm.lastname.$error" ng-if="userForm.$submitted">
        <div ng-message="required" >Ce champs est requis.</div>
      </div>
    </div>
    </div>

    <div class="row">
    <div class="input-field col s12">
      <input type="text"
             name="firstname"
             class="validate"
             required
             ng-model="user.firstname"/>
      <div ng-messages="userForm.firstname.$error" ng-if="userForm.$submitted">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
    </div>
    </div>

    <!--<div class="input-field col s12"
         ng-class="{'has-error': showErrors && userForm.name.$error.required}">
      
      <input type="date"
             name="date"
             class="validate"
             required
             ng-model="user.date"/>

    <div ng-messages="userForm.date.$error" ng-if="showErrors">
      <div ng-message="required">Ce champs est requis.</div>
    </div>
    </div>-->
         
    
    <div class="row">
    <div class="input-field col s12">
      <input type="email" 
             name="email" 
             class="validate"
             required
             ng-blur="ShowInvalidEmail = true"
             ng-focus="ShowInvalidEmail = false"
             ng-model="user.email"/>
      <div ng-messages="userForm.email.$error" ng-if="userForm.$submitted">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
      <div ng-messages="userForm.email.$error" ng-if="ShowInvalidEmail">
        <div ng-message="email">Entrez un email valide</div>
      </div>
    </div>
    </div>
    <div>

    <div class="section">
        <h5>Mot de passe</h5>
        <p>Remplir les deux champs pour changer votre mot de passe</p>
        <div class="space"></div>

    <div class="row">
    <div class="input-field col s12">        
      <input type="password" 
             placeholder="Nouveau mot de passe"
             name="password" 
             class="validate"
             ng-blur="showMinlengthError = true"
             ng-focus="showMinlengthError = false"
             ng-minlength="7"
             ng-model="user.password"/>
      <div ng-messages="userForm.password.$error" ng-if="showMinlengthError">
        <div ng-message="minlength">Votre mot de passe doit être d'au moins 7 caractères</div>
      </div>
    </div>
    </div>
    
    <div class="row">
    <div class="input-field col s12">
      <input type="password"
             placeholder="Confirmation mot de passe"
             name="passwordConfirm"
             class="validate"
             ng-required="user.password !== undefined"
             ng-blur="showInvalidPassword = true"
             ng-focus="showInvalidPassword = false"
             password-verify="user.password"
             ng-model="user.confirmPassword"/>
      <div ng-messages="userForm.passwordConfirm.$error" ng-if="userForm.$submitted">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
      <div ng-messages="userForm.passwordConfirm.$error" ng-if="showInvalidPassword">
        <div ng-message="passwordVerify">Les mots de passe ne correspondent pas</div>
      </div>
    </div>
    </div>
    </div>


    <div>
      <button type="submit" class="waves-effect waves-light btn-large left orange darken-3">Modifier mes informations</button>
      </br>
    </div>
  </form>
</div>