<div id="index-banner" class="jumbotron">
  <div class="section no-pad-bot" >
    <div class="container">
      <br><br>
      <h1 class="header light white-text">Paramètres personnelles</h1>
        <h5 class="header light white-text">Ici utilisateur paramètres modification</h5>
     </div>
  </div>
</div>

<div class="container">   
  <form ng-submit="modifyUser(userForm, user)"
        name="userForm"
        novalidate
        class="row">

    <div class="input-field col s12">
      <input type="text" 
             name="lastname"
             class="validate"
             required
             ng-model="user.lastname"/>
      <div ng-messages="userForm.lastname.$error" ng-if="userForm.$submitted">
        <div ng-message="required" >Ce champs est requis.</div>
      </div>
    </div>

    <div class="input-field col s12">
      <input type="text"
             name="firstname"
             class="validate"
             required
             ng-model="user.firstname"/>
      <div ng-messages="userForm.firstname.$error" ng-if="userForm.$submitted">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
    </div>

    <!--<div class="input-field col s12"
         ng-class="{'has-error': showErrors && userForm.name.$error.required}">
      
      <input type="date"
             name="date"
             class="validate"
             required
             ng-model="user.date"/>

    <div ng-messages="userForm.date.$error" ng-if="showErrors">
      <div ng-message="required">Ce champs est requis.</div>
    </div>
    </div>-->
         
    <div class="input-field col s12">
      <input type="email" 
             name="email" 
             class="validate"
             required
             ng-blur="ShowInvalidEmail = true"
             ng-focus="ShowInvalidEmail = false"
             ng-model="user.email"/>
      <div ng-messages="userForm.email.$error" ng-if="userForm.$submitted">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
      <div ng-messages="userForm.email.$error" ng-if="ShowInvalidEmail">
        <div ng-message="email">Entrez un email valide</div>
      </div>
    </div>

    <div>Inscrire qu'ils ne sont pas obligés des changer leur mot de passe</div>

    <div class="input-field col s6">        
      <input type="password" 
             placeholder="Nouveau mot de passe"
             name="password" 
             class="validate"
             ng-blur="showMinlengthError = true"
             ng-focus="showMinlengthError = false"
             ng-minlength="7"
             ng-model="user.password"/>
      <div ng-messages="userForm.password.$error" ng-if="showMinlengthError">
        <div ng-message="minlength">Votre mot de passe doit être d'au moins 7 caractères</div>
      </div>
    </div>
    
    <div class="input-field col s6">
      <input type="password"
             placeholder="Confirmation mot de passe"
             name="passwordConfirm"
             class="validate"
             ng-required="user.password !== undefined"
             ng-blur="showInvalidPassword = true"
             ng-focus="showInvalidPassword = false"
             password-verify="user.password"
             ng-model="user.confirmPassword"/>
      <div ng-messages="userForm.passwordConfirm.$error" ng-if="userForm.$submitted">
        <div ng-message="required">Ce champs est requis.</div>
      </div>
      <div ng-messages="userForm.passwordConfirm.$error" ng-if="showInvalidPassword">
        <div ng-message="passwordVerify">Les mots de passe ne correspondent pas</div>
      </div>
    </div>

    </br>

    <div>
      <button type="submit" class="waves-effect waves-light btn right blue">Modifier mes informations</button>
      </br>
    </div>
  </form>
</div>