<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../lib/materialize/templates/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


<div id="index-banner" class="user">
    <div class="section no-pad-bot" >
      <div class="container">
        <div class="center">
        <img width="90" height="90" src="img/logonewa.png" alt="" class="circle responsive-img">
        </div>
        <h1 class="header center light white-text">Bonjour {{ currentUser.toString() }} </h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Bienvenue dans votre espace membre ! Le tableau de bord est le meilleur endroit afin de gérer vos contenus et participer au développement de la plateforme.</h5>
        </div>
        </div>
    </div>
    
    </div>

  <div class="container">
  <div class="espace">
  <div class="row pointer">
        
        <div class="col s12 m4" ui-sref="contenus">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">favorite</i></h2>
            <h5 class="center">Vos contenus</h5>

            <p class="center light">Ici l'ensemble de vos contenus aimés sur la plateforme.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="experience">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">stars</i></h2>
            <h5 class="center">Parcours et activités</h5>

            <p class="center light">Ici se trouve les parcours ainsi que vos activités.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="activite">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">security</i></h2>
            <h5 class="center">Badges</h5>

            <p class="center light">L'endroit magnifique avec ou se trouve vos badges.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="contribution">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">help</i></h2>
            <h5 class="center">Zone contribution</h5>

            <p class="center light">Contribuer ici au developpement de la plateforme.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="contact">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">email</i></h2>
            <h5 class="center">Nous joindre</h5>

            <p class="center light">Formulaire de contact pour joindre l'équipe.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="parameters">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">account_circle</i></h2>
            <h5 class="center">Paramètres</h5>

            <p class="center light">Ici se trouve l'ensemble de vos paramètres personnelles de votre compte AlliéEs </p>
          </div>
        </div>

      </div>

    </div>

    </div>



    
