<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="../../dist/css/materialize.min.css" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="../lib/materialize/templates/starter-template/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>


<div id="index-banner" class="jumbotron animated fadeIn">
    <div class="section no-pad-bot" >
      <div class="container">
        <h1 class="header center light white-text animated bounceInDown">Bonjour {{user.username}} </h1>
        <div class="row center">
          <h5 class="header col s12 light white-text animated fadeIn">Bienvenue dans votre espace membre {{user.name}} ! Le tableau de bord et le meilleur endroit afin de gérer vos contenus et participer au developpement de la plateforme.</h5>
        </div>
        <div class="row center">
          <a ng-click="visite()" id="download-button" class="btn-large waves-effect  orange darken-3 animated fadeIn">Visite guidée de l'interface</a>
        </div>
        <br><br>

      </div>
    </div>
    
    </div>

  <div class="container animated fadeIn">
  <div class="espace">
  <div class="row pointer">
        
        <div class="col s12 m4" ng-click="contenus()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">favorite</i></h2>
            <h5 class="center">Vos contenus</h5>

            <p class="center light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mi ullamcorper, lobortis.</p>
          </div>
        </div>

        <div class="col s12 m4" ng-click="experience()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">stars</i></h2>
            <h5 class="center">Partage d'expérience</h5>

            <p class="center light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mi ullamcorper, lobortis.</p>
          </div>
        </div>

        <div class="col s12 m4" ng-click="activite()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">dashboard</i></h2>
            <h5 class="center">Activités</h5>

            <p class="center light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mi ullamcorper, lobortis.</p>
          </div>
        </div>

        <div class="col s12 m4" ng-click="contribution()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">help</i></h2>
            <h5 class="center">Zone contribution</h5>

            <p class="center light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mi ullamcorper, lobortis.</p>
          </div>
        </div>

        <div class="col s12 m4" ng-click="contact()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">email</i></h2>
            <h5 class="center">Nous joindre</h5>

            <p class="center light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mi ullamcorper, lobortis.</p>
          </div>
        </div>

        <div class="col s12 m4" ng-click="parameters()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">account_circle</i></h2>
            <h5 class="center">Paramètres</h5>

            <p class="center light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam non mi ullamcorper, lobortis.</p>
          </div>
        </div>

      </div>

    </div>

    </div>

    
