	<div id="index-banner" class="jumbotron animated fadeIn">
	    <div class="section no-pad-bot" >
	      <div class="container">
	        <h1 class="header center light white-text animated bounceInDown" ></h1>

	        <div class="row center">
	        	<h1 class="header center light white-text animated bounceInDown">Bienvenue sur AcommeAlliEes!</h1>
	        	<h5 class="center light white-text" ng-show="emailConfirmed">Félicitation votre courriel à été confirmé</h5>
	        	<h5 class="center light white-text" ng-show="!emailConfirmed">Oups votre courriel n'a pas pu être confirmé</h5>
				<button class="white btn-flat" ui-sref="login">Page de login</button>
	        </div>
	        </div>
	    </div>
	    </div>

	    <!-- Cette page contiendra toutes les explications des fonctions utilisateurs-->

	    <div class="animated fadeIn">
	    <div class="container espace">

	    <div class="row center">
	    	<h4>Fonctions générales</h4>
	    	<p>Etiam condimentum elit eu tempor fringilla. Ut pretium arcu massa, id tincidunt velit rhoncus vitae. Suspendisse venenatis enim non pellentesque ultricies. Sed id massa lacus. </p>
	    </div>
	</div>

	<div class="container espace">

	    <div class="row center">
	    	<h4>Bouton aimer</h4>
	    	<p>Etiam condimentum elit eu tempor fringilla. Ut pretium arcu massa, id tincidunt velit rhoncus vitae. Suspendisse venenatis enim non pellentesque ultricies. Sed id massa lacus. </p>
	    </div>
	</div>

	<div class="container espace">

	    <div class="row center">
	    	<h4>Fonctions contribution</h4>
	    	<p>Etiam condimentum elit eu tempor fringilla. Ut pretium arcu massa, id tincidunt velit rhoncus vitae. Suspendisse venenatis enim non pellentesque ultricies. Sed id massa lacus. </p>
	    </div>
	</div>

	<div class="container espace">

	    <div class="row center">
	    	<h4>Partage</h4>
	    	<p>Etiam condimentum elit eu tempor fringilla. Ut pretium arcu massa, id tincidunt velit rhoncus vitae. Suspendisse venenatis enim non pellentesque ultricies. Sed id massa lacus. </p>
	    </div>
	</div>
</div>


