<div id="index-banner" class="jumbotron {{ parcours.pageColor }}">
  <div class="section no-pad-bot" >
    <div class="container">
      <br><br>
      <h1 class="header light white-text">{{ parcours.toString() }}</h1>
      <h5 class="header light white-text">{{ parcours.description }}</h5>
    </div>
  </div>
</div>

<div class="container espace">

<div class="center">
  <button tooltips class="btn-floating btn-large waves-effect waves-light {{ parcours.pageColor }} z-depth-0"
                   tooltip-content="Information parcours {{ parcours.toString().toLowerCase() }}"
                   modal-trigger="modules/parcours/views/parcours-informations.modal.html">
    <i class="material-icons">info</i>
  </button>
  <button tooltips class="btn-floating btn-large waves-effect waves-light {{ parcours.pageColor }} z-depth-0"
                   tooltip-content="Voir la médiagraphie" 
                   ui-sref="ressources">
    <i class="material-icons">perm_media</i>
  </button>
</div>

<secteur-list ng-if="secteurs" secteurs="secteurs"></secteur-list>
<piste-list ng-if="pistes" pistes="pistes"></piste-list>