 
<div class="center">

	<div class="piste">

		<div class="container">


        <div class="col s12 m6 center espace z-depth-0">
        	<a ui-sref="boite" class="waves-effect waves-light btn white black-text"><i class="material-icons left">home</i>Retour intentions</a>
          <div class="center card white darken-1">
            <div class="card-content black-text">
              <span class="card-title black-text">{{piste.info.title}}</span>
              <p>{{piste.info.description}}</div>
          </div>
        </div>

         </div>

          </div>
  </div>


<div class="container">
       <ng-include src="piste.templateUrl"></ng-include>


        <button ng-disabled="!piste.canAddBadge" ng-click="addBadge()">AJOUT BADGE</button>

        <badge ng-if="piste.badge" badge-id="piste.badge"></badge>


</div>