<ul class="collection with-header container" ng-hide="noHeader">
  <li class="collection-header"><h4>Pistes disponibles</h4></li>
  <li class="collection-item" ng-repeat="piste in pistes | orderBy:'toString()'">
    <div>{{ piste.toString() }}
      <a ng-click="toToPiste(piste)" class="secondary-content">
        <i class="material-icons red-text" class="secondary-content" tooltipped  data-position="bottom" data-delay="50" data-tooltip="Accéder à: {{ piste.toString() }}">forward</i>
      </a>
    </div>
  </li>
</ul>