<div class="espace">
<ul class="collection with-header container" >
  <li class="collection-header" ng-hide="noHeader"><h4>Pistes disponibles</h4></li>
  <li class="collection-item" ng-repeat="piste in pistes | orderBy:'toString()'">
    <div>{{ piste.toString() }}
  		<a class="secondary-content">
        <i tooltipped
         	 data-position="bottom"
         	 data-delay="50"
         	 data-tooltip="Accéder à: {{ piste.toString() }}"
        	 class="material-icons red-text" class="secondary-content"
        	 ng-click="toToPiste(piste)">
        	 	forward
       	</i>
      </a>
      <a class="secondary-content">
      	<i tooltipped 
           ng-show="canRemove(piste)"
     			 data-position="bottom" 
     			 data-delay="50" 
     			 data-tooltip="Retirer de  mes favoris"
     			 class="material-icons right red-text"
     			 ng-click="removeFromFavorite(piste)">
    				delete	
  			</i>
  		</a>
    </div>
  </li>
</ul>

</div>