 
<div class="center">

	<div class="piste">

		<div class="container">


        <div class="col s12 m6 center espace z-depth-0">
        	<div class="center">
    <button onclick="goBack()" tooltips class="btn-floating btn-large red waves-effect waves-light z-depth-0" tooltip-content="Retour aux pistes">
    <i class="material-icons">reply</i>
  </button>
  </div>
          <div class="center card white darken-1">
            <div class="card-content black-text">
              <span class="card-title black-text"><h4>{{piste.toString()}}</h4></span>
              <p>{{piste.info.description}}</div>
          </div>
        </div>

         </div>

          </div>
  </div>


<div class="container">
       <ng-include src="piste.templateUrl"></ng-include>


        <button ng-disabled="!piste.canAddBadge" ng-click="addBadge()">AJOUT BADGE</button>

        <badge ng-if="piste.badge" badge-id="piste.badge"></badge>


</div>

<script>
function goBack() {
    window.history.back();
}
</script>