<div class="fixed-action-btn animated fadeInDownBig" ng-hide="hideButton">
  <a class="btn-floating btn-large waves-effect waves-light red" ng-click="addToFavorites()">
    <i class="large material-icons ">favorite</i>
  </a>
  <ul>
    <li>
    	<a class="btn-floating btn waves-effect waves-light pink" ng-click="signaler()">
    		<i class="material-icons">error</i>
    	</a>
    </li>
    <li>
    	<a class="btn-floating btn waves-effect waves-light blue" ng-click="contribuer()">
    		<i class="material-icons">dashboard</i>
    	</a>
    </li>
    <li>
    	<a class="btn-floating btn waves-effect waves-light lime" ng-click="partager()">
    		<i class="material-icons">share</i>
    	</a>
    </li>
  </ul>
</div>