body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

like-button {
  position: absolute;
  bottom: 100px;
  right: 24px;
}

.menu {
    
  margin-left: 15px;

              }


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-image: url("image ici");
  background-color: #83A7C0;
            }


.accueil {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #83A7C0;
            }


.espace {

padding-top: 30px;
  padding-bottom: 45px;
  margin-bottom: 45px;
  margin-top: 45px;
  
}

.gris {
  background-color: #83A7C0 !important; }

.spacer
{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}