body {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  main {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 auto;
        -ms-flex: 1 0 auto;
            flex: 1 0 auto;
  }

like-button {
  position: absolute;
  bottom: 100px;
  right: 35px;
}

.menu {
    
  margin-left: 15px;

              }


.jumbotron {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  color: inherit;
  background-image: url("image ici");
  background-color: #f57c00;
            }

.contenus {
  padding-top: 10px;
  padding-bottom: 50px;
  margin-bottom: 50px;
  width: 230px;
            }


.accueil {
  padding-top: 100px;
  padding-bottom: 100px;
  margin-bottom: 30px;
  color: inherit;
  background-color: #f57c00;
            }


.espace {

padding-top: 30px;
  padding-bottom: 45px;
  margin-bottom: 45px;
  margin-top: 45px;
  
}

.gris {
  background-color: #83A7C0 !important; }

.spacer
{
    font-size: 0; 
    height: 10px;
    line-height: 0;
}

.pointer {
    cursor: pointer;
}

/* label color */
   .input-field label {
     color: #000;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color:  #F26533;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #83A7C0;
     box-shadow: 0 1px 0 0 #83A7C0;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #2ecc71;
     box-shadow: 0 1px 0 0 #2ecc71;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #EE2F58;
     box-shadow: 0 1px 0 0 #EE2F58;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #8bc34a;
   }