<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Bande dessinée</h1>
          <h5 class="header light white-text">Ici ensemble bande dessinée</h5>
       </div>
    </div>
  </div>

  <div class="container">

  
 
  <div class="row">


    <!-- Mise en page completement différente pour les téléphones mobiles. -->
    <div class="hide-on-med-and-down">


    <!-- Barre de recherche sera amméliorée -->
      <div class="espace">

    <input type="text" ng-model="searchFilm" placeholder="Chercher un film"><ul>
    <input type="checkbox" 
    
    </div>

    

    <!-- Carte version bureau -->
          <div class="animated fadeIn">
            <div class="card box z-depth-0" ng-repeat="film in filmlist | filter:searchFilm " ng-style="{'width': '25%'}" >
              
              <div class="card-image">
                <img class="circle" src="{{film.img}}">
              </div>

              <div class="card-content">
                <span class="card-title activator pink-text"></span>
                <h6 class="pink-text">{{film.name}}</h6>
                <p>{{film.synopsis | limitTo:150}} ...</p>
                <p class="card activator btn pink white-text">En savoir plus</p>
              </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{film.name}}<i class="material-icons right">close</i></span>
      <p><span class="pink-text">Date:</span> {{film.date}}  </br><span class="pink-text">Réalisation:</span> {{film.realisateur}}</br> <span class="pink-text">Durée:</span> {{film.dure}} </br> <span class="pink-text">Niveau:</span> {{film.niveau}} </br>  <span class="pink-text">Synopsis</span> {{film.synopsis}}</p>
    
    </div>

            </div>
          </div>
        </ul>
        </div>
        </div>

      </div>

  