<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Livres</h1>
          <h5 class="header light white-text">Ici ensemble des livres</h5>
       </div>
    </div>
  </div>

  <div class="container">

  
 
  <div class="row">


    <!-- Mise en page completement différente pour les téléphones mobiles. -->
    <div class="hide-on-med-and-down">


    <!-- Barre de recherche sera amméliorée -->
      <div class="espace">

    <input type="text" ng-model="searchLivre" placeholder="Chercher un livre"><ul>
    <input type="checkbox"  
    
    </div>

    

    <!-- Carte version bureau -->
          <div class="animated fadeIn">
            <div class="card box z-depth-0" ng-repeat="livre in livrelist | filter:searchLivre " ng-style="{'width': '25%'}" >
              
              <div class="card-image">
                <img class="circle" src="{{livre.img}}">
              </div>

              <div class="card-content">
                <span class="card-title activator red-text"></span>
                <h6 class="red-text">{{livre.name}}</h6>
                <p>{{livre.synopsis | limitTo:150}} ...</p>
                <p class="card activator btn red white-text">En savoir plus</p>
              </div>

    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">{{livre.name}}<i class="material-icons right">close</i></span>
      <p><span class="red-text">Date:</span> {{livre.date}}  </br><span class="red-text">Réalisation:</span> {{livre.realisateur}}</br> <span class="red-text">Durée:</span> {{livre.dure}} </br> <span class="red-text">Niveau:</span> {{livre.niveau}} </br>  <span class="red-text">Synopsis</span> {{livre.synopsis}}</p>
    
    </div>

            </div>
          </div>
        </ul>
        </div>
        </div>

      </div>

  