<div class="fixed-action-btn" ng-if="grosBoutton">
  <a ng-show="grosBoutton.hasFavoriteFunction" 
     tooltipped  data-position="left"  data-tooltip="Ajouter à mes favoris"
     class="btn-floating btn-large waves-effect waves-light red animation pulsation z-depth-0"
     ng-click="grosBoutton.addToFavorites()">
    <i class="large material-icons ">favorite_border</i>
  </a>
  <a ng-hide="grosBoutton.hasFavoriteFunction" 
     tooltipped  data-position="left"  data-tooltip="Menu fonctions"
     class="btn-floating btn-large waves-effect waves-light red animation pulsation z-depth-0">
    <i class="large material-icons white-text">loupe</i>
  </a>
  <ul>
    <li>
      <a tooltipped  data-position="left"  data-tooltip="Accéder à l'aide" class="btn-floating btn waves-effect waves-light pink z-depth-0" ui-sref="aide">
        <i class="material-icons">help</i>
      </a>
    </li>
    <li>
    	<a tooltipped  data-position="left"  data-tooltip="Signaler une page" class="btn-floating btn waves-effect waves-light orange z-depth-0" ng-click="signaler()">
    		<i class="material-icons">error</i>
    	</a>
    </li>
    <li>
    	<a tooltipped  data-position="left"  data-tooltip="Accéder à mes favoris" class="btn-floating btn waves-effect waves-light green z-depth-0" ui-sref="contenus">
    		<i class="material-icons">dashboard</i>
    	</a>
    </li>
  </ul>
</div>

