<div class="media center">

  <div class="container">
    <h1>{{ partenaire.name }}</h1>
  </div>

</div>


<div class="container animated fadeIn">
 


 <div class="espace row">

<div class="center">
<img width="300" src="{{ partenaire.img }}">
</div>

 
 <ul class="collection with-header" width="350">
        <li class="collection-header center"><h3>Information<h3></li>
        <li class="collection-item"><span class="bold">Site:</span> {{ partenaire.infos.site }}</li>
        <li class="collection-item"><span class="bold">Téléphone:</span> {{ partenaire.infos.telephone }}</li>
        <li class="collection-item"><span class="bold">Présentation:</span> {{ partenaire.infos.presentation }}</li>
</ul>

<div class="center">

</div>
        </li>
      </ul>


  </div>
    </div>

      
     </div>


