    <nav>
      <div class="nav-wrapper grey white">
        <div class="container">
          
            <!-- Menu droite normal--> 
            <ul id="nav" class="right hide-on-med-and-down">
              <li ng-hide="isConnected || $state.current.name === 'login'" ui-sref="login"><i class="material-icons left black-text">lock_outline</i></a></li>
            <!-- Menu droite utilisateur-->
              <li class="menu" ng-show="isConnected" ng-click="monCompte()"><i class="material-icons left black-text">account_circle</i></a></li>
              <li class="menu" ng-show="isConnected" ng-click="deconnect()"><i class="material-icons left black-text">exit_to_app</i></a></li>
            </ul>
            <!-- Menu gauche-->       
            
          
          <ul id="nav" class="left hide-on-med-and-down">
            <li><a ui-sref="home" class="black-text">Accueil</a></li>
            <li><a ui-sref="propos" class="black-text">À propos</a></li>
            <li><a ui-sref="parcours" class="black-text">Parcours</a></li>
            <li><a ui-sref="ressources" class="black-text">Ressources</a></li>
            <li><a ui-sref="recherche" class="black-text">Recherche</a></li>
          </ul>

           <!-- Menu mobile--> 
           

          <ul id="slide-out" class="side-nav">
            <li><a ui-sref="home">Accueil</a></li>
            <li><a ui-sref="propos">À propos</a></li>
            <li><a ui-sref="parcours">Parcours</a></li>
            <li><a ui-sref="ressources">Ressources</a></li>
            <li class="menu" ng-show="isConnected" ng-click="monCompte()"><i class="material-icons left black-text">account_circle</i></a></li>
            <li class="menu" ng-show="isConnected" ng-click="deconnect()"><i class="material-icons left black-text">exit_to_app</i></a></li>

            </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu black-text"></i></a>

          <script >

    // Initialisation menu burger
    $(".button-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      //$('.collapsible').collapsible();

      </script>
      <div>
      </div>
    </div>
  </nav>


