<nav>
  <div class="nav-wrapper blue-grey darken-4">
    <div class="container">
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li ng-hide="isConnected" ><a href="#!/utilisateur/ajout"><i class="material-icons left">create</i>Inscription</a></li>
        <li ng-hide="isConnected" ><a href="#!/login"><i class="material-icons left">account_circle</i>Login</a></li>

        <li class="menu" ng-show="isConnected" ng-click="monCompte()"><i class="material-icons left">account_circle</i>Mon compte</a></li>
        <li class="menu" ng-show="isConnected" ng-click="deconnect()"><i class="material-icons left">clear</i>Déconnexion</a></li>
        
        
      </ul>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a ng-href="#!/home">Accueil</a></li>
        <li><a ng-href="#!/propos">À propos</a></li>
        <li><a ng-href="#!/parcours">Parcours</a></li>
        <li><a ng-href="#!/ressources">Ressources</a></li>
      </ul>
      <div>
    </div>
  </div>
</nav>


