<div id="index-banner" class="jumbotron blue">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Boite à outils de base</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
       </div>
    </div>
  </div>

<div class="container espace">

	<div class="center">


<a modal-trigger="modules/content/modal-trigger/boite.html" class="btn-large  blue tooltipped z-depth-0" data-position="bottom" data-delay="25" data-tooltip="Informations sur ce parcours"><i class="large material-icons">info</i></a>
<a ui-sref="ressources" class="btn-large  blue tooltipped z-depth-0" data-position="bottom" data-delay="25" data-tooltip="Voir la médiagraphie pour ce parcours"><i class="large material-icons">perm_media</i></a>
<a class="btn-large  blue tooltipped z-depth-0" data-position="bottom" data-delay="25" data-tooltip="Ajouter parcours favoris"><i class="large material-icons">add</i></a>

</div>


   <ul class="collection with-header">
        <li class="collection-header"><h4>Agir au quotidien</h4></li>
        <li  class="collection-item"><div>Agir au quotidien<a ui-sref="boiteagir" class="secondary-content"><i class="material-icons blue-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Être un(e) Allié(e) visible<a ui-sref="aide" class="secondary-content"><i class="material-icons blue-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Adopter un language inclusif<a ui-sref="aide" class="secondary-content"><i class="material-icons blue-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Réagir aux insultes et propos homophobes<a ui-sref="aide" class="secondary-content"><i class="material-icons blue-text">forward</i></a></div></li>


      </ul>


</div>

<script>

$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });

</script>
