<div id="index-banner" class="home">
  <div class="section no-pad-bot" >
    <div class="container">
      <h1 class="header light white-text">AcommeAlliéEs</h1>
        <h5 class="header light white-text">La plateforme A comme AlliéEs regroupe un large éventail d’outils et de ressources 
pour l’inclusion de la diversité sexuelle et de genre.</h5>
    </div>
    <div class="container col s12 m6">
      <a class="waves-light white btn-large black-text" ui-sref="userForm"><i class="material-icons left">create</i>S'incrire sur la plateforme</a>
    </div>
  </div>
</div>



<div class="espace animated fadeIn">
  <div class="container col s12 m6">
    <div class="row">
      <h5 class="center"></h5>
        
        <div class="col s12">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">accessibility</i></h2>
            <h5 class="center">Proaction</h5>

            <p class="light center">Si réagir aux insultes et propos homophobes est essentiel, il importe de créer un environnement inclusif qui reflète la diversité sexuelle et de genre. Dans le même esprit, les outils et ressources de cette plateforme web engagent à s’attaquer aux racines de l’homophobie, à savoir le sexisme et l’hétéronormativité.</p>
          </div>
        </div>

        <div class="col s12">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">track_changes</i></h2>
            <h5 class="center">Contenus</h5>

            <p class="light center">Pour l’ensemble des pistes d’actions suggérées, la plateforme vous présentera des informations, outils et ressources essentiels afin d’accélérer l’accès au contenu. Il vous sera toujours proposé d’accéder à un nombre plus important de contenus si vous le souhaitez. </p>
          </div>
        </div>

        <div class="col s12">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">insert_emoticon</i></h2>
            <h5 class="center">Ludification</h5>

            <p class="light center">Inclure la diversité sexuelle et de genre, cela devrait être agréable et stimulant ! Des badges vous sont attribués à chaque fois que vous accomplissez une action, ce qui vous montre le chemin parcouru. De plus, des contenus sont présentés sous forme de jeux et incitent à l’interaction.</p>
          </div>
        </div>

        <div class="col s12">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">settings</i></h2>
            <h5 class="center">Personnalisation</h5>

            <p class="light center">La plateforme présente le contenu sous forme de parcours correspondant à votre profil personnel ou professionnel. De plus, en vous inscrivant, vous accédez à un espace membre personnalisé, où vous pouvez garder des traces de votre progression et des contenus les plus pertinents pour vous.</p>
          </div>
        </div>
     

      </div>
    </div>
  </div>
</div>
