<div id="index-banner" class="outils">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Boite à outils de base</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
           <a class="waves-light white btn-large black-text" ui-sref="boite"><i class="material-icons left">create</i>Voir la boite à outils</a>
       </div>
    </div>
  </div>

  <div id="index-banner" class="communautaire">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Communautaire</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
           <a class="waves-light white btn-large black-text" ui-sref="homecommunautaire"><i class="material-icons left">create</i>Voir parcours communautaire</a>
       </div>
    </div>
  </div>


  <div id="index-banner" class="scolaire animated">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Scolaire</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
           <a class="waves-light white btn-large black-text" ui-sref="homescolaire"><i class="material-icons left">create</i>Voir parcours scolaire</a>
       </div>
    </div>
  </div>
  


  <div id="index-banner" class="sante">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Santé</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
           <a class="waves-light white btn-large black-text" ui-sref="homesante"><i class="material-icons left">create</i>Voir parcours santé</a>
       </div>
    </div>
  </div>

  
