<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">À propos</h1>
          <h5 class="header light white-text">Ici page explication pourquoi ? </h5>
       </div>
    </div>
  </div>

  <div class="container">

<p class="light center espace"> Malgré les avancées légales des dernières années au Québec, l’homophobie demeure une réalité, notamment dans les milieux scolaires et milieux jeunesse. Souvent engendrée par l’ignorance, le sexisme et l’hétérosexisme, l’homophobie touche une grande partie de la population: les personnes gaies, lesbiennes, bisexuelles ou présumées telles, leurs proches, les personnes dont l’apparence ou le comportement ne se conforment pas aux stéréotypes de la masculinité et de la féminité, celles et ceux qui s’interdisent des activités ou l’expression de certaines émotions pour éviter d’être associé.e.s à l’homosexualité. Bref, elle touche tout le monde.Voilà pourquoi nous voulons, grâce à la plateforme web interactive que vous retrouverez ici à l’automne 2015, outiller les nombreuses personnes qui interviennent au quotidien auprès des jeunes et qui souhaitent favoriser l’inclusion de la diversité sexuelle et de genre.</p>

  </div>