<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Mediagraphie</h1>
          <h5 class="header light white-text">Ici ensemble des ressources hors parcourt</h5>
       </div>
    </div>
  </div>

  
<div id="index-banner" class="film">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Film</h1>
          <h5 class="header light white-text">Ici les films</h5>
           <a class="waves-light white btn-large black-text" ui-sref="film"><i class="material-icons left">create</i>Voir parcours scolaire</a>
       </div>
    </div>
  </div>

  <div id="index-banner" class="livre">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Livre</h1>
          <h5 class="header light white-text">Ici les films</h5>
           <a class="waves-light white btn-large black-text" ui-sref="livre"><i class="material-icons left">create</i>Voir parcours communautaire</a>
       </div>
    </div>
  </div>

  <div id="index-banner" class="bd">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">BD</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
           <a class="waves-light white btn-large black-text" ui-sref="boite"><i class="material-icons left">create</i>Voir la boite à outils</a>
       </div>
    </div>
  </div>

   <div id="index-banner" class="doc">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Document</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
           <a class="waves-light white btn-large black-text" ui-sref="boite"><i class="material-icons left">create</i>Voir la boite à outils</a>
       </div>
    </div>
  </div>

   <div id="index-banner" class="scolaire">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Roman</h1>
          <h5 class="header light white-text">Cette boite à outils de base s'adresse à quiconque souhaite inclure la diversité sexuelle et de genre au quotidien.</h5>
           <a class="waves-light white btn-large black-text" ui-sref="boite"><i class="material-icons left">create</i>Voir la boite à outils</a>
       </div>
    </div>
  </div>

