<div id="index-banner" class="jumbotron pink">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Santé - Soins infirmers</h1>
          <h5 class="header light white-text">Vous travaillez en soins infirmiers et vous souhaitez inclure la diversité sexuelle et de genre dans vos pratiques et votre milieu ? Ce parcours est fait pour vous !</h5>
       </div>
    </div>
  </div>

<div class="container espace">

	<div class="center">

<a modal-trigger="modules/content/modal-trigger/boite.html" class="btn-large  pink tooltipped z-depth-0" data-position="bottom" data-delay="25" data-tooltip="Informations sur ce parcours"><i class="large material-icons">info</i></a>
<a ui-sref="ressources" class="btn-large  pink tooltipped z-depth-0" data-position="bottom" data-delay="25" data-tooltip="Voir la médiagraphie pour ce parcours"><i class="large material-icons">perm_media</i></a>
<a class="btn-large  pink tooltipped z-depth-0" data-position="bottom" data-delay="25" data-tooltip="Ajouter parcours favoris"><i class="large material-icons">add</i></a>

</div>


   <ul class="collection with-header">
        <li class="collection-header"><h4>S'informer</h4></li>
        <li  class="collection-item"><div>Les mots pour comprendre<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Connaître l'ampleur de l'homophobie chez les jeunes et ses impacts sur la santé<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Connaitre l'ampleur des stéréotypes de genre sur le développement de la santé.<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Les scécificités des personnes de la diversité sexuelle face à la santé.<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Répondre aux mythes sur l'homosexualité et de la bisexualité.<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Développer des partenariats<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li  class="collection-item"><div>Explorer la médiagraphie<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
  


      </ul>

      <ul class="collection with-header">

        <li class="collection-header"><h4>Agir au quotidien</h4></li>
        <li class="collection-item"><div>Être visible comme AlliéE<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li class="collection-item"><div>Adopter un language inclusif<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
    

      </ul>

       <ul class="collection with-header">

        <li class="collection-header"><h4>Inclure la diversité sexuelle et de genre dans ses pratiques</h4></li>
        <li class="collection-item"><div>Mettre des brochures à disposition<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li class="collection-item"><div>Accueillir des personnes de la diversité sexuelle<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li class="collection-item"><div>Se préparer à accueillir un coming out<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li class="collection-item"><div>Se former<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>

      </ul>

      <ul class="collection with-header">

        <li class="collection-header"><h4>Inclure la diversité sexuelle et de genre dans son milieu</h4></li>
        <li class="collection-item"><div>Mener une campagne d'affichage<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li class="collection-item"><div>Rendre le code de vie et les formulaires inclusifs<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
        <li class="collection-item"><div>Rejoindre un réseau d'AlliéEs<a ui-sref="aide" class="secondary-content"><i class="material-icons pink-text">forward</i></a></div></li>
       

      </ul>

</div>

<script>

$(document).ready(function(){
    $('.tooltipped').tooltip({delay: 50});
  });

</script>