<p class="petitespace">{{ piste.data.bloc1 }}</p>

<div class="petitespace">
<div class="iframe-responsive-wrapper">
    <img class="iframe-ratio" src="data:image/gif;base64,R0lGODlhEAAJAIAAAP///wAAACH5BAEAAAAALAAAAAAQAAkAAAIKhI+py+0Po5yUFQA7"/>
    <iframe src="http://acommealliees.ca/cdn/media/animation/allieevisible.html"  frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
</div>
</div>


<div class="espace center">
{{ piste.data.macaron }}
<div class="petitespace">
<a class="waves-effect waves-light btn center red z-depth-0">Partager une photo</a>
</div>
</div>


