<div class="center">
<h2>Se procurer des affiches</h2>


<p class="petitespace">{{ piste.data.seprocurerdesaffiches.bloc1 }}</p>

<img class="responsive-img" height="400px" width="400px" src="{{ piste.data.seprocurerdesaffiches.acommealliees }}">

<div class="petitespace">
<a class="waves-effect waves-light btn center grey darken-3 z-depth-0" ui-sref="contact">Se procurer des affiches</a>
</div>

<img class="responsive-img" height="300px" width="300px" src="{{ piste.data.seprocurerdesaffiches.cflgbtdiversite }}">

<div class="petitespace">
<a class="waves-effect waves-light btn center grey darken-3 z-depth-0" href="http://www.familleslgbt.org">Se procurer des affiches</a>
</div>


