<div class="center">

<h3 class="petitespace">Milieu</h3>

<p class="petitespace">{{ piste.data.milieu.milieubloc1 }}</p>
<p class="petitespace">{{ piste.data.milieu.milieubloc2 }}</p>
<p class="petitespace">{{ piste.data.milieu.milieubloc3 }}</p>

<div class="center">
<img class="responsive-img"  src="{{ piste.data.milieu.milieuimg }}">
</div>

<p class="petitespace">{{ piste.data.milieu.imglink }}</p>

<h3 class="petitespace">Communauté</h3>

<p class="petitespace">{{ piste.data.communaute.communautebloc }}</p>
<p class="petitespace">{{ piste.data.communaute.communautebloc1 }}</p>
<div class="center">
<img class="responsive-img"  src="{{ piste.data.communaute.communauteimg }}">
</div>
<p class="petitespace">{{ piste.data.communaute.communauteimglink }}</p>
<p class="petitespace">{{ piste.data.communaute.communautebloc2 }}</p>

</div>