<div class="center">

<h3 class="petitespace">{{piste.data.etapes.etapesbloc1}}</h3>

<div class="center">
<img class="responsive-img"  src="{{piste.data.etapes.etapesimg1}}">
</div>

<h4 class="petitespace">{{piste.data.activites.activiteblocs1}}</h4>

<ol>
<li>{{piste.data.activites.activitespuce1}}</li>
<li>{{piste.data.activites.activitespuce2}}</li>
<li>{{piste.data.activites.activitespuce3}}</li>
<li>{{piste.data.activites.activitespuce4}}</li>
<li>{{piste.data.activites.activitespuce5}}</li>
<li>{{piste.data.activites.activitespuce6}}</li>
<li>{{piste.data.activites.activitespuce7}}</li>
<li>{{piste.data.activites.activitespuce8}}</li>
</ol>

<h4 class="petitespace">Exemple d'activités</h4>

<ul>
<li>{{piste.data.activites.activitesexemple1}}</li>
<li>{{piste.data.activites.activitesexemple2}}</li>
<li>{{piste.data.activites.activitesexemple3}}</li>
<li>{{piste.data.activites.activitesexemple4}}</li>
<li>{{piste.data.activites.activitesexemple5}}</li>

</ul>


</div>



