<div class="center">

<h3>Code de vie</h3>

<p class="petitespace">{{ piste.data.codedevie.bloc1 }}</p>
<p class="petitespace bold">{{ piste.data.codedevie.bloc2 }}</p>

<ol>
<li>{{ piste.data.codedevie.puce1 }}</li>
<li>{{ piste.data.codedevie.puce2 }}</li>
</ol>

<h3>Formulaires</h3>

<p class="petitespace">{{ piste.data.formulaires.formulairebloc1 }}</p>
<p class="petitespace">{{ piste.data.formulaires.formulairebloc2 }}</p>
<p class="petitespace">{{ piste.data.formulaires.formulairebloc3 }}</p>
<p class="petitespace">{{ piste.data.formulaires.exemple1 }}</p>

</div>