<div class="center">
        


<h3 class="petitespace">{{piste.data.conferencesgris.gristitre1}}</h3>
<p class="petitespace">{{piste.data.conferencesgris.grisblocindex}}</p>
<p class="petitespace">{{piste.data.conferencesgris.grisbloc1}}</p>

<h3 class="petitespace">{{piste.data.conferencesgris.gristitre2}}</h3>
<p class="petitespace">{{piste.data.conferencesgris.grisbloc3}}</p>

<h3 class="petitespace">{{piste.data.conferencesgris.gristitre3}}</h3>

<ul>
<li>{{piste.data.conferencesgris.puce1}}</li>
<li>{{piste.data.conferencesgris.puce2}}</li>
<li>{{piste.data.conferencesgris.puce3}}</li>
<li>{{piste.data.conferencesgris.puce4}}</li>
<li>{{piste.data.conferencesgris.puce5}}</li>
</ul>

<p class="petitespace">{{piste.data.conferencesgris.grisbloc4}}</p>

<h3 class="petitespace">{{piste.data.conferencesgris.gristitre4}}</h3>
<p class="petitespace">{{piste.data.conferencesgris.grisbloc5}}</p>

<h3 class="petitespace">{{piste.data.cflgbt.cflgbttitre}}</h3>
<p class="petitespace">{{piste.data.cflgbt.cflgbtbloc1}}</p>
<p class="petitespace">{{piste.data.cflgbt.cflgbtbloc2}}</p>

<ul>
<li>{{piste.data.cflgbt.cflgbtpuce1}}</li>
<li>{{piste.data.cflgbt.cflgbtpuce2}}</li>
<li>{{piste.data.cflgbt.cflgbtpuce3}}</li>
<li>{{piste.data.cflgbt.cflgbtpuce4}}</li>
</ul>

<p class="petitespace">{{piste.data.cflgbt.cflgbtbloc3}}</p>
<p class="petitespace">{{piste.data.cflgbt.cflgbtbloc4}}</p>

<div class="center">
<img class="responsive-img"  src="{{piste.data.cflgbt.cflgbtimg}}">
<p>{{piste.data.cflgbt.linkimg}}</p>

</div>


</div>