<p class="petitespace">{{piste.data.bloc1}}</p>

<div class="espace">

<img class="responsive-img" src="{{piste.data.comingoutcover}}">

<div class="center">

	<div class="center">
    <a class="btn-large flat red z-depth-0" href="{{piste.data.linkcomingoutcover}}" >Voir les parcours</a>
    </div>

</div>

</div>

<p class="petitespace">{{piste.data.bloc2}}</p>
<p class="petitespace">{{piste.data.bloc3}}</p>
<p class="petitespace">{{piste.data.bloc4}}</p>
<p class="petitespace">{{piste.data.bloc5}}</p>
