	<div id="index-banner" class="jumbotron">
	    <div class="section no-pad-bot" >
	      <div class="container">
	        <h1 class="header light white-text">Formulaire de contact</h1>
	          <h5 class="header light white-text">Ici utilisateur contact</h5>
	       </div>
	    </div>
	  </div>

<div class="container espace">


<div input-field>
    <input type="text" ng-model="dummyInputs.inputFieldInput" length="1530">
    <label>Input label</label>
</div>
<div input-field>
    <textarea ng-model="dummyInputs.textAreaInput" class="materialize-textarea"></textarea>
    <label>Textarea</label>
</div>


<select class="" ng-model="select.value1" material-select watch>
    <option ng-repeat="value in select.choices">{{value}}</option>
</select>

  </div>