<!-- Ressources -->

<link rel="stylesheet" href="css/media/component.css">
<link rel="stylesheet" href="css/media/default.css">

<div class="presentation">
	<div class="container">


<h1 class="center">Parcours<h1>
	
	</div>
	</div>


	<ul class="cbp-ig-grid">
					<li>
						<a href="#!/parcours/boite">
							<i class="large material-icons">build</i>
							<h3 class="cbp-ig-title">Boite à outils</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#!/parcours/communautaire">
							<i class="large material-icons">accessibility</i>
							<h3 class="cbp-ig-title">Milieu communautaire</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#!/parcours/scolaire">
							<i class="large material-icons">book</i>
							<h3 class="cbp-ig-title">Milieu scolaire</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#!/parcours/sante">
							<i class="large material-icons">perm_identity</i>
							<h3 class="cbp-ig-title">Santé et des services sociaux</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a>
							<i class="large material-icons">videogame_asset</i>
							<h3 class="cbp-ig-title">Jeux et animations</h3>
							<span class="cbp-ig-category">Disponible prochainement</span>
						</a>
					</li>
					<li>
						<a>
							<i class="large material-icons">picture_as_pdf</i>
							<h3 class="cbp-ig-title">Ressources matérialles</h3>
							<span class="cbp-ig-category">Disponible prochainement</span>
						</a>
					</li>
				</ul>

				<div class="presentation"> <h2 class="center">Discussion sur les parcours <h2>
<div class="center"><p><a class="waves-effect btn red z-depth-0" ui-sref="infolettre">Suivre le projet</a></p></div>

				</div>


<div class="container espace">

<script id="dsq-count-scr" src="//acommeallies.disqus.com/count.js" async></script>

<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
*/
var disqus_config = function () {
this.page.url = 'http://acommeallies.ca/site/#!/lesparcours'; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//acommeallies.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript> <a href="https://disqus.com/?ref_noscript" rel="nofollow"></a></noscript>

<script id="dsq-count-scr" src="//acommeallies.disqus.com/count.js" async></script>

</div>
