<!-- Ressources -->

<link rel="stylesheet" href="css/media/component.css">
<link rel="stylesheet" href="css/media/default.css">

<div class="presentation">
	<div class="container">


<h1 class="center">Ressources disponible<h1>
	
	</div>
	</div>


	<ul class="cbp-ig-grid">
					<li>
						<a href="#!/parcours/boite">
							<span class="cbp-ig-icon cbp-ig-icon-shoe"></span>
							<h3 class="cbp-ig-title">Boite à outils</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#!/parcours/communautaire">
							<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
							<h3 class="cbp-ig-title">Milieu communautaire</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#!/parcours/scolaire">
							<span class="cbp-ig-icon cbp-ig-icon-milk"></span>
							<h3 class="cbp-ig-title">Milieu scolaire</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#!/parcours/sante">
							<span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
							<h3 class="cbp-ig-title">Santé et des services sociaux</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-spectacles"></span>
							<h3 class="cbp-ig-title">Jeux et animations (prochainement)</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
					<li>
						<a href="#">
							<span class="cbp-ig-icon cbp-ig-icon-doumbek"></span>
							<h3 class="cbp-ig-title">Ressources matérialles (prochainement)</h3>
							<span class="cbp-ig-category">Cliquez pour accéder</span>
						</a>
					</li>
				</ul>
