<div id="index-banner" class="grey darken-4">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <div class="center">

        <h1 class="header light white-text">À propos</h1>
        &nbsp;
        &nbsp;
        </div>
       </div>
    </div>
  </div>

 

<div class="petitespace" id="pourquoi">
    <h3 class="center petit">Pourquoi A comme AlliéEs ?</h3>
   
    <div class="container"> <div class="divider"></div><p class="light  black-text"> Le projet A comme AlliéEs vise à reconnaître et outiller les AlliéEs des secteurs de l’éducation, de la santé, des services sociaux et du communautaire. Pourquoi ce projet ? Parce que l’on sait qu’inclure la diversité sexuelle améliore grandement le bien-être des personnes gaies, lesbiennes, bisexuelles ou présumées telles, de leurs proches, des personnes dont l’apparence ou le comportement ne se conforment pas aux stéréotypes de la masculinité et de la féminité, des personnes qui s’interdisent  des activités ou l’expression de certaines émotions pour éviter d’être associés à l’homosexualité. Bref, inclure la diversité sexuelle et de genre améliore grandement le bien-être de tout le monde.</p></div>

  </div>

  <div class="petit espace" id="pourquoi">
    <h3 class="center petit">La mission du GRIS-Québec</h3>
   
    <div class="container"> <div class="divider"></div><p class="light  black-text">Le Groupe régional d’intervention sociale de Québec est un organisme communautaire d’éducation et de sensibilisation qui a pour mission de promouvoir une vision positive de l’homosexualité et de la bisexualité en vue de favoriser une intégration harmonieuse des personnes gaies, lesbiennes et bisexuelles dans la société. </p></div>

  </div>


  <div class="propos">
 <div class="container">
    <div class="row white-text">
      <div class="center"><img height="130px" width="130px" src="img/icons/maingris.png"></div>
     <h2 class="light center"> Les services du GRIS-Québec </h2>
    <div class="divider"></div>
     </div>
     </div>
     <div class="row white-text">
    <div class="col s12 m3">
        <div class="icon-block">
          <h5 class="center">Les Interventions</h5>
          <p class="light center">Réalisées principalement dans les écoles, les interventions sont offertes sous forme de témoignages par un duo d’intervenants afin de répondre aux questions des jeunes sur l’homosexualité et la bisexualité. </p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="icon-block">
          <h5 class="center">l’Accès</h5>
          <p class="light center">
            Destiné aux jeunes gais, lesbiennes, bisexuels, trans ou en questionnement, L’Accès est un espace qui propose diverses activités à caractère communautaire, culturel et sportif ainsi que des services d’écoute, d’aide et de référence aux jeunes.
</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="icon-block">
          <h5 class="center">Le  Jumelage Jeunesse</h5>
          <p class="light center">
            Basé sur le partage du vécu, le Jumelage permet d’échanger, individuellement avec un.e accompagnateur.trice, à propos de l’orientation sexuelle. 
</p>
        </div>
      </div>
      <div class="col s12 m3">
        <div class="icon-block">
          <h5 class="center">Le Jumelage Parents</h5>
          <p class="light center">
            Le Jumelage parents est un service gratuit d’accueil, d’écoute et de soutien qui est disponible pour les parents d’enfants gais, lesbiennes ou bisexuel.le.s. La formule d’entraide entre pairs est privilégiée.
</p>
        </div>
      </div>
      </div>
  </div>

  
    <div class="section espace">

      <div class="row">
        <div class="col s12 center">
          <div class="container">
          <h4>Les conférences adaptées</h4>
          <p class="left-align light">Les conférences adaptées sont offertes dans les établissements postsecondaires et les milieux de pratique afin de sensibiliser et d’outiller les futurs professionnel.le.s, ou ceux et celles œuvrant déjà sur le marché du travail, aux réalités homosexuelles et bisexuelles et à l’intervention auprès des jeunes lesbiennes, gais et bisexuel.le.s.
          Ces conférences s’adaptent de différentes façons aux besoins de leurs participants, dans les sujets abordés et leur durée.  Elles favorisent la participation et la réflexion par rapport à la diversité sexuelle, tant du point de vue des orientations sexuelles que des identités de genre.
          </div>
      </div>
  </div>

     

  </div>