
<div class="media center">

  <div class="container">
    <h1>{{ media.name }}</h1>
  </div>

</div>


<div class="container animated fadeIn">
 


 <div class="espace row">

  <div class="center">

<img width="300" src="{{ media.img }}">

</div>

 
 <ul class="collection with-header" width="350">
        
        <li class="collection-item"><span class="bold">Type:</span> {{ media.type }}</li>
        <li class="collection-item"><span class="bold">Voir le document:</span> <a href="{{ media.infos.telechargerlink }}">Télécharger le document</a></li>
        <li class="collection-item"><span class="bold">Commander ce document:</span> <a href="{{ media.infos.commandelink }}">Commander</a></li>
</ul>

<div class="center">



</div>
        </li>
      </ul>


  </div>
    </div>

      
     </div>


