<div class="media center">

  <div class="container">
    <h1>{{ media.name }}</h1>
  </div>

</div>

<div class="container animated fadeIn">
 


 <div class="espace row">

<div class="center">
<img width="300" src="{{ media.img }}">
</div>
 
 <ul class="collection with-header" width="350">
        <li class="collection-header center"><h3>Information sur le film<h3></li>
        <li class="collection-item"><span class="bold">Nom du film:</span> {{ media.name }}</li>
        <li class="collection-item"><span class="bold">Réalisé par:</span> {{ media.infos.realisateur }}</li>
        <li class="collection-item"><span class="bold">Durée:</span> {{ media.infos.duree }} min</li>
        <li class="collection-item"><span class="bold">Genre:</span> {{ media.infos.genre }}</li>
        <li class="collection-item"><span class="bold">Origine:</span> {{ media.infos.nationalite }}</li>
        <li class="collection-item"><span class="bold">Principaux acteurs et principales actrices:</span> {{ media.infos.acteurs }}</li>
        <li class="collection-item"><span class="bold">Synopsis:</span> {{ media.infos.synopsis }}</li>
        


        </li>
      </ul>


  </div>
    </div>

      
     </div>





  
   
