
<div class="media center">

  <div class="container">
    <h1>{{ media.name }}</h1>
  </div>

</div>

<div class="container animated fadeIn">
 


 <div class="espace row">

<div class="center">
<img width="300" src="{{ media.img }}">
</div>

 
 <ul class="collection with-header" width="350">
        <li class="collection-header center"><h3>Informations sur le livre<h3></li>
        <li class="collection-item"><span class="bold">Titre:</span> {{ media.name }}</li>
        <li class="collection-item"><span class="bold">Auteur.e:</span> {{ media.infos.auteur }}</li>
        <li class="collection-item"><span class="bold">Type:</span> {{ media.infos.type }}</li>
        <li class="collection-item"><span class="bold">Origine:</span> {{ media.infos.nationalite }}</li>
        <li class="collection-item"><span class="bold">Résumé:</span> {{ media.infos.synopsis }}</li>

      </ul>

<div class="center">


<!--<media-favoriter media="media"></media-favoriter>--> 
</div>
        </li>
      </ul>


  </div>
    </div>

    
     </div>


