<div class="card box z-depth-0 col s6 m3">
  <div class="card-image">
    <img ng-src="{{ media.img }}"/>
  </div>
  <div class="card-content">
		<span class="card-title activator grey-text text-darken-4">
		<h6>{{ media.toString() | limitTo : 40 }} </h6>
    <i class="material-icons right red-text"
       tooltipped
       data-position="bottom"
       data-delay="50"
       data-tooltip="Voir la fiche complète"
       ng-click="goToMedia(media)">
      trending_flat
    </i>
			
		</span>
		<media-favoriter media="media"></media-favoriter>
	</div>

  <div class="card-reveal">
    <span class="card-title red-text">
    	{{ media.name }}
    	<i class="material-icons right">close</i>
    </span>
    <p>
      <p>Nom: {{ media.name }}</p>
      <p>Synopsis: {{ media.infos.synopsis }}</p>
      
      <div class="center">
      <a class="waves-effect waves-light flat btn red z-depth-0" ng-click="goToMedia(media)">En savoir plus</a>
    </div>
    </p>
  </div>
</div>