<!--  -->

<link rel="stylesheet" href="css/media/component.css">
<link rel="stylesheet" href="css/media/default.css">


<!-- Menu -->

<div class="presentation">
	<div class="container center">


<h1>Médiagraphie<h1>
	<p>Cette médiagraphie vous permettra d’intégrer du contenu abordant la diversité sexuelle et les stéréotypes de genre dans vos pratiques.</p>

	</div>
	</div>

<div class="espace">
<ul class="cbp-ig-grid">
	<li>
		<a href="#!/mediagraphie/film">
			<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
			<h3 class="cbp-ig-title">Films</h3>
			<span class="cbp-ig-category">Cliquez pour accéder aux films</span>
		</a>
	</li>
	<li>
		<a href="#!/mediagraphie/livre">
			<span class="cbp-ig-icon cbp-ig-icon-whippy"></span>
			<h3 class="cbp-ig-title">Livres et bandes dessinées</h3>
			<span class="cbp-ig-category">Cliquez pour accéder aux bande dessinées</span>
		</a>
	</li>

	<li>
		<a href="#!/mediagraphie/document">
			<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
			<h3 class="cbp-ig-title">Documents et brochures</h3>
			<span class="cbp-ig-category">Médiagraphie</span>
		</a>
	</li>

</ul>

</div>

<div class="center">
	


<h1 class="presentation">Nos médias à la une <h1>

	
            

	<h2>Films<h2>

		<div class="row">
        
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film1.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce film</p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film2.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce film</p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film3.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce film</p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film4.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce film</p>
            </div>
           
          </div>
        </div>

      </div>
	<h2>Livres et bandes dessinées<h2>

		<div class="row">
        
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre1.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce livre</p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre2.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce livre</p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre3.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce livre</p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre4.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce livre</p>
            </div>
           
          </div>
        </div>


      </div>
	<h2>Documents et brochures<h2>

		<div class="row">
     
<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc1.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce document</p>
            </div>




      </div>
	
	</div>
	<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc2.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce document</p>
            </div>

            


      </div>
	
	</div>
	<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc3.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce document</p>
            </div>

            


      </div>
	
	</div>
	<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc4.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p>Accéder à ce document</p>
            </div>

            


      </div>
	
	</div>
	</div>