<div class="container">
  <div class="center">
    <div class="espace">
      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <label for="email">Recherche par titre</label>
        <input type="text" 
               ng-model="query"/>
      </div>

      <button class="btn orange z-depth-0" ng-click="reinitialize() ">Réinitialiser</button>

      <span ng-if="niveaux.length > 0">
        <button class="dropdown-button btn red z-depth-0"
              data-activates="niveau">{{ selectedNiveau.toString() }}</button>
      </span>
      <ul id="niveau" class="dropdown-content"
          ng-if="niveaux.length > 0">
        <li ng-repeat="niveau in niveaux | orderBy:'poids'">
          <a class="black-text"
             ng-click="filterByNiveau(niveau)">
            {{ niveau.toString() }}
          </a>
        </li>
      </ul>
      <!--<span>
      <a class="dropdown-button btn red z-depth-0" href="#" data-activates="genre">Genre</a>
      </span> 
      <ul id="genre" class="dropdown-content">
        <li><a class="black-text">Drame</a></li>
          <li><a class="black-text" >Comédie</a></li>
          <li><a class="black-text" >Action</a></li>
          <li><a class="black-text" >Film de répertoire</a></li>
          <li><a class="black-text" >Cours métrage</a></li>
      </ul>-->
    </div>
  </div>   
</div>

<div class="largecontainer">
	<div class="row">
<!-- Carte version bureau -->
  	<div class="animated fadeIn">
      <media-card media="media"
                  ng-repeat="media in galerie.medias | orderBy:'name'"
                  ng-style="{'width': cardLength }">
      </media-card>
		</div>
	</div>
</div>

<script>
 $('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false // Displays dropdown below the button
    }
  );
</script>



  