<!--  -->

<link rel="stylesheet" href="css/media/component.css">
<link rel="stylesheet" href="css/media/default.css">


<!-- Menu -->

<div class="presentation">
	<div class="container">


<h1>Médiagraphie<h1>
	<p>Cette médiagraphie vous permettra d’intégrer du contenu abordant la diversité sexuelle et les stéréotypes de genre dans vos pratiques.</p>

	</div>
	</div>

<div class="espace">
<ul class="cbp-ig-grid">
	<li>
		<a href="#!/mediagraphie/film">
			<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
			<h3 class="cbp-ig-title">Films</h3>
			<span class="cbp-ig-category">Cliquez pour accéder aux films</span>
		</a>
	</li>
	<li>
		<a href="#!/mediagraphie/livre">
			<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
			<h3 class="cbp-ig-title">Livre et bande dessinées</h3>
			<span class="cbp-ig-category">Cliquez pour accéder aux bande dessinées</span>
		</a>
	</li>

	<li>
		<a href="#!/mediagraphie/document">
			<span class="cbp-ig-icon cbp-ig-icon-ribbon"></span>
			<h3 class="cbp-ig-title">Documents et brochures</h3>
			<span class="cbp-ig-category">Médiagraphie</span>
		</a>
	</li>

</ul>

</div>