<div ng-show="showFavoriter"> 
  <i tooltipped 
     data-position="bottom" 
     data-delay="50" 
     data-tooltip="Ajouter à mes favoris"
     class="material-icons right red-text"
     ng-hide="media.isFavorited"
     ng-click="addToFavorite()">
    favorite
  </i>
  <i tooltipped 
     data-position="bottom" 
     data-delay="50" 
     data-tooltip="Retirer de  mes favoris"
     class="material-icons right red-text"
     ng-show="media.isFavorited"
     ng-click="removeFromFavorite()">
    delete
  </i>
</div>