<div class="container">
  <div class="center">
    <div class="espace" ng-show="galerie.medias">
      

      <div class="input-field">
        <i class="material-icons prefix">search</i>
        <label for="email">Recherche par titre</label>
        <input type="text" 
               ng-model="query"/>
      </div>

<!--
      <button class="btn orange z-depth-0" ng-click="reinitialize()">Réinitialiser</button>

      <span ng-if="niveaux.length > 0">
        <button class="dropdown-button btn red z-depth-0"
              data-activates="niveau">{{ selectedNiveau.toString() }}</button>
      </span>

    -->

<!-- Menu droite normal--> 

      <ul id="niveau" class="dropdown-content"
          ng-if="niveaux.length > 0">
        <li ng-repeat="niveau in niveaux | orderBy:'poids'">
          <a class="black-text"
             ng-click="filterByNiveau(niveau)">
            {{ niveau.toString() }}
          </a>
        </li>
      </ul>
      
    </div>
  </div>   
</div>

<div class="largecontainer">
	<div class="row">
<!-- Carte version bureau -->
  	<div class="animated fadeIn">
      <media-card media="media"
                  ng-repeat="media in galerie.medias | orderBy:'name'"
                  ng-style="{'width': cardLength }">
      </media-card>
		</div>
	</div>
</div>