

<!-- Ressources -->

<link rel="stylesheet" href="css/media/component.css">



<!-- Menu -->

<div class="presentation">
	<div class="container center">


<h1>Médiagraphie<h1>
	<p>Cette médiagraphie vous permettra d’intégrer du contenu abordant la diversité sexuelle et les stéréotypes de genre dans vos pratiques.</p>

	</div>
	</div>

<div class="espace">
<ul class="cbp-ig-grid">
	<li>
    
		<a href="#!/mediagraphie/film">
      <i class="large material-icons">movie</i>
			<h3 class="cbp-ig-title">Films</h3>
			<span class="cbp-ig-category">Cliquez pour accéder aux films</span>
		</a>
	</li>
	<li>
		<a href="#!/mediagraphie/livre">
			<i class="large material-icons">book</i>
			<h3 class="cbp-ig-title">Livres et bandes dessinées</h3>
			<span class="cbp-ig-category">Cliquez pour accéder aux bande dessinées</span>
		</a>
	</li>

	<li>
		<a href="#!/mediagraphie/document">
			<i class="large material-icons">picture_as_pdf</i>
			<h3 class="cbp-ig-title">Documents et brochures</h3>
			<span class="cbp-ig-category">Médiagraphie</span>
		</a>
	</li>

</ul>

</div>

<div class="center">
	


<h1 class="presentation">Nos médias à la une <h1>

	
            

	<h2>Films<h2>

		<div class="row">
        
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film1.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
             <p> <a href="#!/mediagraphie/media/55eb5e224c85b5f824ad9523">Accéder à ce film</a></p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film2.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
             <p> <a href="#!/mediagraphie/media/563e6744ec618c4909f08621">Accéder à ce film</a></p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film3.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p> <a href="#!/mediagraphie/media/563e6445ec618c4909f0861d">Accéder à ce film</a></p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/film4.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p> <a href="#!/mediagraphie/media/5637f60abd9f44d95dac3a49">Accéder à ce film</a></p>
            </div>
           
          </div>
        </div>

      </div>
	<h2>Livres et bandes dessinées<h2>

		<div class="row">
        
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre1.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
                <p> <a href="#!/mediagraphie/media/564250781e17dbd11768820b">Accéder à ce livre</a></p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre2.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p> <a href="#!/mediagraphie/media/56436308d4cedeb1721a25e3">Accéder à ce livre</a></p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre3.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
             <p> <a href="#!/mediagraphie/media/564361a1d4cedeb1721a25e2">Accéder à ce livre</a></p>
            </div>
           
          </div>
        </div>
        <div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/livre4.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p> <a href="#!/mediagraphie/media/56421df01e17dbd117688207">Accéder à ce livre</a></p>
            </div>
           
          </div>
        </div>


      </div>
	<h2>Documents et brochures<h2>

		<div class="row">
     
<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc1.jpg">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p> <a href="#!/mediagraphie/media/5643a169d4cedeb1721a2602">Accéder à ce document</a></p>
            </div>




      </div>
	
	</div>
	<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc2.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p> <a href="#!/mediagraphie/media/5644baf9b10d91fc7d345890">Accéder à ce document</a></p>
            </div>

            


      </div>
	
	</div>
	<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc3.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
             <p> <a href="#!/mediagraphie/media/5644c15bb10d91fc7d345892">Accéder à ce document</a></p>
            </div>

            


      </div>
	
	</div>
	<div class="col s6 m3">
          <div class="card">
            <div class="card-image">
              <img src="img/une/doc4.png">
              <span class="card-title"></span>
            </div>
            <div class="card-content">
              <p> <a href="#!/mediagraphie/media/5644c0adb10d91fc7d345891">Accéder à ce document</a></p>
            </div>

            


      </div>
	
	</div>
	</div>