<div class="card box z-depth-0">
  <div class="card-image">
    <img ng-src="{{ media.img }}"/>
  </div>
  <div class="card-content">
		<span class="card-title activator grey-text text-darken-4">
		<h6>{{ media.toString() }}</h6>
			<i class="material-icons right red-text">info</i>
		</span>
			
			<i class="material-icons right red-text"
         ng-hide="media.isFavorited"
         ng-click="addToFavorite()">
        favorite
      </i>
      <i class="material-icons right red-text"
         ng-show="media.isFavorited"
         ng-click="removeFromFavorite()">
        delete
      </i>
	</div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">
    	{{ media.toString() }}
    	<i class="material-icons right">close</i>
    </span>
    <p ng-repeat="(key, value) in media.infos">
    	<span class="red-text">{{ key }} : </span>
      <span>{{ value }}</span>
    </p>
  </div>
</div>