<div id="index-banner">
  <div class="section no-pad-bot">
    <div class="container">
      <h1 class="header light black-text"><img src="{{ section.icons }}"  height="100px" width="100px">{{ section.toString() }}</h1>
        <h5 class="header light black-text">{{ section.description }}</h5>
         <a class="waves-light red btn-large white-text right z-depth-0" ng-click="toToMediaSection(section)"><i class="material-icons left">send</i>Voir la section {{ section.toString() }}</a>
     </div>
  </div>
</div>
