<footer class="page-footer grey darken-3">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">#AcommeAlliéEs</h5>
                <p class="grey-text text-lighten-4">#AcommeAlliéEs est un projet financé et créé par le GRIS-Québec.</p>
              </div>
              <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Découvrir</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" ui-sref="parcours">Parcours</a></li>
                  <li><a class="grey-text text-lighten-3" ui-sref="activite">Activitées</a></li>
                  <li><a class="grey-text text-lighten-3" ui-sref="ressources">Médiagraphie</a></li>
                  <li><a class="grey-text text-lighten-3" ui-sref="homecontact">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
          <div class="footer-copyright grey darken-4">
            <div class="container">
            © 2016 Copyright PSWDesign - BETA 1.0 - Un projet du Gris-Québec
            <a class="grey-text text-lighten-4 right" ui-sref="aide">Support</a>
            </div>
          </div>
        </footer>