<!-- Navigation

<script src="js/fonctions/polyfills.js"></script>
<script src="js/fonctions/demo1.js"></script>
<script src="js/fonctions/modernizr-2.6.2.min.js"></script>
<link rel="stylesheet" type="text/css" href="css/fonctions/normalize.css" />
<link rel="stylesheet" type="text/css" href="css/fonctions/component1.css" />

				<button class="cn-button" id="cn-button">+</button>
				<div class="cn-wrapper" id="cn-wrapper">
				    <ul>
				      <li><a ui-sref="ressources"><span class="icon-picture"></span></a></li>
				      <li><a ui-sref="parcours"><span class="icon-headphones"></span></a></li>
				      <li><a ui-sref="parcours"><span class="icon-home"></span></a></li>
				      <li><a ui-sref="users"><span class="icon-facetime-video"></span></a></li>
				      <li><a ui-sref="support"><span class="icon-envelope-alt"></span></a></li>
				     </ul>
				</div>
				<div id="cn-overlay" class="cn-overlay"></div>


-->

