<div>
  <div class="navbar-fixed">
  <nav class="z-depth-0 ">
    <div class="nav-wrapper white ">
      <div class="container">
        
          <!-- Menu droite normal--> 
        <ul id="nav"
            class="right hide-on-med-and-down">
          <li ng-hide="isConnected || $state.current.name === 'login'"
              ui-sref="login">
            <i class="material-icons left black-text">lock_outline</i>
          </li>
        <!-- Menu droite utilisateur-->
          <li class="menu"
              ng-show="isConnected"
              ng-click="monCompte()">
            <i class="material-icons left black-text">account_circle</i>
          </li>
          <li class="menu"
              ng-show="isConnected"
              ng-click="deconnect()">
            <i class="material-icons left black-text">exit_to_app</i>
          </li>
        </ul>

        <!-- Menu gauche-->
        <ul id="nav" class="left hide-on-med-and-down">

          <li ng-class="{ active : isActive('home')}">
            <a ui-sref="home" class="black-text">
              Accueil
            </a>
          </li>
          <li ng-class="{ active : isActive('propos')}">
            <a ui-sref="propos" class="black-text">
              À propos
            </a>
          </li>
          <li ng-class="{ active : isActive('ressources')}">
            <a class="dropdown-button btn-white black-text"
               data-activates="ressources"
               ui-sref="ressources">
              Médiagraphie
            </a>
          </li>
          <li ng-class="{ active : isActive('parcours')}">
            <a class="dropdown-button btn-white black-text"
               data-activates="parcours"
               ui-sref="parcours">
              Parcours
            </a>
          </li>
          <li ng-class="{ active : isActive('activite')}">
            <a ui-sref="activite" class="black-text">Activités</a>
          </li>
          <li ng-class="{ active : isActive('partenaire')}">
            <a ui-sref="partenaire" class="black-text">Partenaires</a>
          </li>
          <li ng-class="{ active : isActive('homecontact')}">
            <a ui-sref="homecontact" class="black-text">Contact</a>
          </li>
        </ul>


        <!-- Contenus -->
        <ul id="ressources" class="dropdown-content">
          <li ng-repeat="mediaSection in mediaSections | orderBy:'position' ">
            <a ng-click="goToMediaSection(mediaSection)">
              {{ mediaSection.toString() }}
            </a>
          </li>
        </ul>
        <ul id="parcours" class="dropdown-content">
          <li ng-repeat="parcours in allParcours | orderBy:'position' ">
            <a class="{{ parcours.pageColor }}-text" ng-click="goToParcours(parcours)">
              {{ parcours.toString() }}
            </a>
          </li>
        </ul>
      
        

        <script>
$('.dropdown-button').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrain_width: false, // Does not change width of dropdown to that of the activator
      hover: true, // Activate on hover
      gutter: 0, // Spacing from edge
      belowOrigin: false // Displays dropdown below the button
    }
  );




          </script>

           

          <ul id="slide-out" class="side-nav">

            <div class="center petitespace"><img height="80px" src="img/logo.png"></div>
     
           
            <li ng-class="{ active : isActive('home')}"><a ui-sref="home" class="center" >Accueil</a></li>
            <li ng-class="{ active : isActive('propos')}"><a ui-sref="propos" class="center">À propos</a></li>
            <li ng-class="{ active : isActive('ressources')}"><a ui-sref="ressources" class="center">Médiagraphie</a></li>
            <li ng-class="{ active : isActive('parcours')}"><a ui-sref="parcours" class="center">Parcours</a></li>
            <li ng-class="{ active : isActive('activite')}"><a ui-sref="activite" class="center">Activités</a></li>
            <li ng-class="{ active : isActive('partenaire')}"><a ui-sref="partenaire" class="center">Partenaires</a></li>
            <li ng-class="{ active : isActive('homecontact')}"><a ui-sref="homecontact" class="center">Contact</a></li>
             <li 
              class="red"
              ng-show="isConnected"
              ng-click="monCompte()">
            <a class="center white-text">Espace membre</a>
          </li>
          <li 
              class="red"
              ng-show="isConnected"
              ng-click="deconnect()">
            <a class="center white-text">Se déconnecter</a>
          </li>
            </ul>
          <a href="#" data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu black-text"></i></a>

          <script >

    // Initialisation menu burger
    $(".button-collapse").sideNav();
      // Initialize collapsible (uncomment the line below if you use the dropdown variation)
      //$('.collapsible').collapsible();
--> 
      </script>
      <div>
      </div>
    </div>
  </nav>
    </div>
    </div>


