<!-- Left & centered positioning -->
<div ng-show="showSocialKit"
		 class="ssk-sticky ssk-left ssk-center ssk-lg animated fadeIn" data-text="Découvrez notre super plateforme web pour l'inclusition de la diversité sexuelle et de genre">
    <a href="" class="ssk ssk-facebook" tooltipped data-position="right" data-delay="50" data-tooltip="Partager sur Facebook"></a>
    <a href="" class="ssk ssk-twitter" tooltipped data-position="right" data-delay="50" data-tooltip="Partager sur Twitter"></a>
    <a href="" class="ssk ssk-pinterest" tooltipped data-position="right" data-delay="50" data-tooltip="Partager sur Pinterest"></a>
    <a href="" class="ssk ssk-tumblr" tooltipped data-position="right" data-delay="50" data-tooltip="Partager sur Tumblr"></a>
    <a href="" class="ssk ssk-email" tooltipped data-position="right" data-delay="50" data-tooltip="Partager par courriel" ></a>
</div>

<!-- Left & custom positioning -->
<style>.ssk-sticky .ssk-left { top: 20%; } </style>
<div class="ssk-sticky ssk-left ssk-lg">...</div>