	<div id="index-banner" class="jumbotron">
	    <div class="section no-pad-bot" >
	      <div class="container">
	        <h1 class="header light white-text">Formulaire de contact</h1>
	          <h5 class="header light white-text"></h5>
	       </div>
	    </div>
	  </div>

	 

	  <div class="container espace">

	    <form class="col s12" novalidate name="contactForm" ng-submit="send(contactForm)">

			<div class="section">
	    	<h5>Informations personnelles</h5>
    		<div class="space"></div>

	      <div class="row">
	        <div class="input-field col s6">
	          <input id="name" type="text" ng-model="currentUser.lastname"  disabled/>
	          <label for="first_name" data-success="ok"></label>
	        </div>

	        <div class="input-field col s6">
	          <input id="last_name" type="text" ng-model="currentUser.firstname" disabled/>
	          <label for="first_name" data-success="ok"></label>
	        </div>
	      </div>

	      <div class="row">
	        <div class="input-field col s12">
	          <input id="email" type="email" ng-model="currentUser.email"  disabled/>
	          <label for="first_name" data-success="ok"></label>
	        </div>
	      </div>
	      <div>

	      	<div class="section">
	    	<h5>Message</h5>
    		<p>Comment pouvons-nous vous aider ?</p>
    		<div class="space"></div>

			<div class="row">
			<div class="input-field col s12">
	         <input id="input_text" type="text" length="10" name="subject" ng-model="message.subject" class="validate" required/>
	         <label for="subject" data-error="Erreur" data-success="ok">Titre du message</label>
	        </div>
	        <div ng-messages="contactForm.subject.$error" ng-if="contactForm.$submitted">
        		<div ng-message="required" class="animated fadeIn red-text" >Ce champs est requis.</div>
      		</div>
	      </div>

	      <div class="row">
	          <div class="input-field col s12">
	            <textarea id="textarea1" class="materialize-textarea" name="body" ng-model="message.body" length="500" required></textarea>
	            <label for="body" >Votre message</label>
	          </div>
	          <div ng-messages="contactForm.body.$error" ng-if="contactForm.$submitted">
        		<div ng-message="required" class="animated fadeIn red-text" >Ce champs est requis.</div>
      		</div>
	        </div>
	  

<div class="input-field col s12">
<button  type="submit" class="waves-effect waves-light btn-large left red z-depth-0"><i class="material-icons left">send</i>Envoyer</button>
</div>
</form>
	</div>
	</div>


<script>
$(document).ready(function() {
$('input#input_text, textarea#textarea1').characterCounter();
  });
</script>

<!--
<div class="row">
	      	<div class="input-field col s12">
    		<select class="browser-default">
      			<option value="" disabled selected>Sujet du message</option>
      			<option value="1">Option 1</option>
      			<option value="2">Option 2</option>
     			 <option value="3">Option 3</option>
    		</select>
    		</div>
    	</div>

 -->