<div id="index-banner" class="jumbotron">
  <div class="section no-pad-bot" >
    <div class="container">
      <h1 class="header light white-text">S'inscrire sur la plateforme</h1>
      <h5 class="header col s12 light white-text">Pour vous inscrire sur AcommeAlliéEs, merci de remplir ce formulaire.</h5>
    </div>
  </div>
</div>

<div class="container col s12 m6 espace black-text ">
{{userForm.$valid}}
  <form signup-form
        name="userForm"
        ng-submit="signup(userForm, newUser)"
        novalidate
        class="row">

    <div class="input col s12">
      <label for="lastname" class="black-text">Nom</label>
      <input type="text"
             name="lastname"
             class="validate"
             required
             ng-model="newUser.lastname"/>
      <div ng-messages="userForm.lastname.$error" ng-if="userForm.$submitted">
        <div ng-message="required" class="animated fadeIn red-text" >Ce champ est requis.</div>
      </div>
    </div>

    <div class="input col s12">
      <label for="firstname" class="black-text">Prénom</label>
      <input type="text"
             name="firstname"
             class="validate"
             required
             ng-model="newUser.firstname"/>
      <div ng-messages="userForm.firstname.$error" ng-if="userForm.$submitted">
        <div ng-message="required" class="animated fadeIn red-text">Ce champ est requis.</div>
      </div>
    </div>

    <div class="input col s12">
      <label for="dateNaissance" class="black-text">Date de naissance</label>
      <input type="text" input-date
             id="dateNaissance"
             name="dateNaissance"
             class="validate"
             required
             format="dd/mm/yyyy"
             months-full="{{ month }}"
             months-short="{{ monthShort }}"
             weekdays-full="{{ weekdaysFull }}"
             weekdays-short="{{ weekdaysShort }}"
             weekdays-letter="{{ weekdaysLetter }}"
             select-years="100"
             close="close"
             ng-model="newUser.dateNaissance"/>
      <div ng-messages="userForm.dateNaissance.$error" ng-if="userForm.$submitted">
        <div ng-message="required" class="animated fadeIn red-text">Ce champ est requis.</div>
        <div ng-message="max" class="animated fadeIn red-text">Date invalide.</div>
      </div>
    </div>

    <div class="input col s12">
      <label for="pseudo" class="black-text">Pseudo</label>
      <input type="text"
             name="pseudo"
             class="validate"
             required
             ng-model="newUser.pseudo"/>
      <div ng-messages="userForm.pseudo.$error" ng-if="userForm.$submitted">
        <div ng-message="required" class="animated fadeIn red-text">Ce champ est requis.</div>
      </div>
    </div>

    <div class="input col s12">
      <label for="email" class="black-text">Email</label>
      <input type="email" 
             name="email" 
             class="validate"
             required
             ng-model="newUser.email"/>
      <div ng-messages="userForm.email.$error" ng-if="userForm.$submitted">
        <div ng-message="required" class="animated fadeIn red-text">Ce champ est requis.</div>
        <div ng-message="email" class="animated fadeIn red-text">Entrez un courriel valide</div>
      </div>
    </div>

    <div class="input col s6">

      <label for="password" class="black-text">Mot de passe</label>
      <input type="password" 
             name="password" 
             class="validate"
             required
             autocomplete="off"
             ng-blur="showMinlengthError = true"
             ng-focus="showMinlengthError = false"
             ng-minlength="7"
             ng-model="newUser.password"/>
      <div ng-messages="userForm.password.$error" ng-if="userForm.$submitted">
        <div ng-message="required" class="red-text">Ce champ est requis.</div>
      </div>
      <div ng-messages="userForm.password.$error" ng-if="showMinlengthError">
        <div ng-message="minlength" class="red-text">Votre mot de passe doit contenir au moins 7 caractères</div>
      </div>
    </div>

    <div class="input col s6">
      <label for="passwordConfirm" class="black-text">Confirmation du mot de passe</label>
      <input type="password"
             name="passwordConfirm"
             class="validate"
             required
             autocomplete="off"
             ng-blur="showValidPasswordError = true"
             ng-focus="showValidPasswordError = false"
             password-verify="newUser.password"
             ng-model="newUser.confirmPassword"/>

      <div ng-messages="userForm.passwordConfirm.$error" ng-if="userForm.$submitted">
        <div ng-message="required" class="red-text">Ce champ est requis.</div>
      </div>
      <div ng-messages="userForm.passwordConfirm.$error" ng-if="showValidPasswordError">
        <div ng-message="passwordVerify" class="red-text">Les mots de passe ne correspondent pas.</div>
      </div>
    </div>


    <div class="input-field col s12">
      <button class="waves-effect waves-light btn red z-depth-0"
              type="button"
              modal-trigger="modules/users/views/conditions-utilisation.modal.html">
        Conditions d'utilisation
      </button>
    </div>


    <div class="input-field col s12">
      <button type="submit" class="waves-effect waves-light btn-large left red z-depth-0">S'inscrire</button>
    </div>
  </form>

</div>