<!-- Header du site -->

<div id="index-banner" class="user">
    <div class="section no-pad-bot" >
      <div class="container">
        <div class="center">
        </div>
        <h1 class="header center light white-text animated fadeIn"><span id="bonjour">Bonjour</span>  {{ currentUser.firstname }} !</h1>
        <div class="row center">
          <h5 class="header col s12 light white-text">Bienvenue dans votre espace membre ! Le tableau de bord est le meilleur endroit pour gérer vos contenus et participer au développement de la plateforme.</h5>
        </div>
        <div class="center">
        <a class="dropdown-button btn-large white black-text z-depth-0" ui-sref="parcours" href='javascript:void(0);' data-activates='demoDropdown' dropdown data-hover="true" ><i class="material-icons left">search</i>Commencer à explorer</a>
        </div>
        </div>
    </div>
    
    </div>

    <!-- Début exploration -->
<ul id="demoDropdown" class="dropdown-content">
    <li><a href="javascript:void(0);" class="center black-text" ui-sref="parcours">Nos parcours</a></li>
    <li><a href="javascript:void(0);" class="center black-text" ui-sref="ressources">La médiagraphie</a></li>
    
</ul>

<!-- fin -->

  <div class="container">
  <div class="espace">
  <div class="row animated fadeIn pointer">
        
        <div class="col s12 m4" ui-sref="contenus" tooltipped data-position="bottom" data-delay="50" data-tooltip="Voir mes contenus" >
          <div class="icon-block" >
            <div class="center">
            <img height="60px" width="60px" src="img/icons/contenus.svg">
          </div>
            <h5 class="center">Vos contenus</h5>

            <p class="center light">Ici l'ensemble de vos contenus favoris.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="experience" tooltipped data-position="bottom" data-delay="50" data-tooltip="Voir mes parcours et activités">
          <div class="icon-block">
            <div class="center">
            <img height="60px" width="60px" src="img/icons/parcours.svg">
          </div>
          <h5 class="center">À partager</h5>

            <p class="center light">Ici se trouvent les contenus que vous nous avez suggérés.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="badges" tooltipped data-position="bottom" data-delay="50" data-tooltip="Voir mes badges">
          <div class="icon-block">
            <div class="center">
            <img height="60px" width="60px" src="img/icons/diploma_1.svg">
          </div>
          <h5 class="center">Badges</h5>

            <p class="center light">Venez admirer les badges que vous avez obtenus !</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="contribution" tooltipped data-position="bottom" data-delay="50" data-tooltip="Voir la zone contribution">
          <div class="icon-block">
            <div class="center">
            <img height="60px" width="60px" src="img/icons/contribution.svg">
          </div>
            <h5 class="center">Zone achats</h5>
            <p class="center light">Procurez-vous des outils d'AlliéEs.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="contact" tooltipped data-position="bottom" data-delay="50" data-tooltip="Joindre l'équipe">
          <div class="icon-block">
            <div class="center">
            <img height="60px" width="60px" src="img/icons/joindre.svg">
          </div>
            <h5 class="center">Nous joindre</h5>

            <p class="center light">Formulaire de contact pour joindre l'équipe.</p>
          </div>
        </div>

        <div class="col s12 m4" ui-sref="parameters" tooltipped data-position="bottom" data-delay="50" data-tooltip="Voir mes paramètres personnelles">
          <div class="icon-block">
            <div class="center">
            <img height="60px" width="60px" src="img/icons/parametres.svg">
          </div>
            <h5 class="center">Paramètres</h5>

            <p class="center light">Ici se trouve l'ensemble des paramètres personnels de votre compte AlliéEs </p>
          </div>
        </div>

      </div>

    </div>

    </div>

     <div class="presentation"> 
      <h2 class="center">Discuter du projet avec d'autres utilisateurs <h2>
    <div class="center"><p><a class="waves-effect btn red z-depth-0" ui-sref="infolettre">Suivre le projet</a></p></div>

     </div>


<div class="container espace">

<script id="dsq-count-scr" src="//acommeallies.disqus.com/count.js" async></script>

<div id="disqus_thread"></div>
<script>
/**
* RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
* LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
*/
/*
*/
var disqus_config = function () {
this.page.url = 'http://acommeallies.ca/site/#!/utilisateur'; // Replace PAGE_URL with your page's canonical URL variable
this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() { // DON'T EDIT BELOW THIS LINE
var d = document, s = d.createElement('script');

s.src = '//acommeallies.disqus.com/embed.js';

s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript> <a href="https://disqus.com/?ref_noscript" rel="nofollow"></a></noscript>

<script id="dsq-count-scr" src="//acommeallies.disqus.com/count.js" async></script>

</div>

     

  
<!-- Sélection de l'heure et d'une date pour changer les CSS -->

<script type="text/javascript"> 
today=new Date() 
if(today.getHours() >= 0 && today.getHours() < 18) 
{      
document.getElementById('bonjour').innerHTML='Bonjour'; 
} 
else 
{      
document.getElementById('bonjour').innerHTML='Bonsoir'; 
} 
</script> 



    
