<div id="index-banner" class="connect">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center">
      <img src="img/icons/key.svg" height="100px" width="100px">
      </div>
      <h1 class="header light black-text center">Se connecter à votre compte A comme AlliéEs</h1>
        <h5 class="header col s12 light black-text center">Connectez-vous à votre compte A comme AlliéEs et commencez à découvrir nos contenus et à créer votre propre bibliothèque de ressources.</h5>    
    </div>
  </div>  
</div>

<div class="container petitespace">
  <form signin-form
        name="loginForm"
        ng-submit="signin(loginForm, loginInfo)"
				novalidate
				class="row">
		<div class="row">
        
		<div class="input-field">
      <i class="material-icons prefix">perm_identity</i>
    	<label for="email">Courriel</label>
       	<input type="email" 
               name="email" 
               class="validate"
               required
               ng-blur="showInvalidEmail = true"
               ng-focus="showInvalidEmail = false"
       		     ng-model="loginInfo.username"/>
        <div ng-messages="loginForm.email.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Courriel valide requis.</div>
        </div>
        <div ng-messages="loginForm.email.$error" ng-if="showInvalidEmail">
          <div ng-message="email">Entrez un courriel valide.</div>
        </div>
      </div>

  		<div class="input-field text-black">
        <i class="material-icons prefix">vpn_key</i>
    		<label for="password">Mot de passe</label>
       	 	<input type="password" 
                 name="password" 
                 class="validate"
                 required
                 ng-focus="loginInfo.password = undefined"
                 ng-model="loginInfo.password"/>
        <div ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Mot de passe valide requis.</div>
        </div>

      <div class="row">
        <div class="col s6">
        <p ng-click="sendPasswordToken(loginInfo.username)"
           ng-init="showError = false"
           ng-mouseover="showError = !showError">
           Mot de passe oublié ?
        </p>
        <small ng-show="showError && loginForm.email.$error.required">Pour réinitialiser votre mot de passe, veuillez remplir le champ courriel</small>
      </div>    
	   <div class="col s6">
      <br>
      <button type="submit" class="waves-effect waves-light btn-large right red  z-depth-0">Se connecter</button>
     </div>
    </div>
  </form>
</div>
</div>

<div class="presentation">
  <div class="row center">

<h3 class="light center">Vous n'êtes pas inscrit ?</h3>
<h5 class="light center">C'est par ici.</h5>
<a ui-sref="userForm" class="waves-effect waves-light btn-large red" z-depth-0><i class="material-icons left"></i>Je m'inscris</a>

</div>
</div>