<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot" >
      <div class="container">
        <h1 class="header light white-text">Contenus</h1>
          <h5 class="header light white-text">Ici utilisateur voir ses contenus</h5>
       </div>
    </div>
  </div>

<div class="container">

<div class="contenus">
<h5 class="center light">Types de contenus</h5>
 <ul class="collection col-s6">
    <li class="collection-item avatar">
      <i class="material-icons circle blue">movie</i>
      <span class="title">Films</span>
      <p>Vous avez: </p>
      <a href="#!" class="secondary-content"><i class="material-icons red-text"></i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle red">book</i>
      <span class="title">Livres</span>
      <p>Vous avez: </p>
      <a href="#!" class="secondary-content"><i class="material-icons red-text"></i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle green">directions_run</i>
      <span class="title">Activités</span>
      <p>Vous avez: </p>
      <a href="#!" class="secondary-content"><i class="material-icons red-text"></i></a>
    </li>
    <li class="collection-item avatar">
      <i class="material-icons circle orange">people</i>
      <span class="title">Partenaires</span>
      <p>Vous avez: </p>
      <a href="#!" class="secondary-content"><i class="material-icons red-text"></i></a>
    </li>
     <li class="collection-item avatar">
      <i class="material-icons circle pink">link</i>
      <span class="title">Pistes</span>
      <p>Vous avez: </p>
      <a href="#!" class="secondary-content"><i class="material-icons red-text"></i></a>
    </li>
  </ul>
</div>
</div>
