<div id="index-banner" class="jumbotron">
  <div class="section no-pad-bot">
    <div class="container">
      <div class="center">
      <img src="img/icons/key.svg" height="100px" width="100px">
      </div>
      <h1 class="header light white-text center">Se connecter à votre compte AlliéEs</h1>
        <h5 class="header col s12 light white-text center">Connectez-vous à votre compte AlliéEs et commencer à découvrir nos contenus et à créer votre propre biliothèque de ressources.</h5>    
    </div>
  </div>  
</div>

<div class="container petitespace">
  <form signin-form
        name="loginForm"
        ng-submit="signin(loginForm, loginInfo)"
				novalidate
				class="row">
		<div class="row">
        
		<div class="input-field">
      <i class="material-icons prefix">perm_identity</i>
    	<label for="email">Email</label>
       	<input type="email" 
               name="email" 
               class="validate"
               required
               ng-blur="showInvalidEmail = true"
               ng-focus="showInvalidEmail = false"
       		     ng-model="loginInfo.username"/>
        <div ng-messages="loginForm.email.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Email valide requis.</div>
        </div>
        <div ng-messages="loginForm.email.$error" ng-if="showInvalidEmail">
          <div ng-message="email">Entrez un email valide.</div>
        </div>
      </div>

  		<div class="input-field text-black">
        <i class="material-icons prefix">vpn_key</i>
    		<label for="password">Mot de passe</label>
       	 	<input type="password" 
                 name="password" 
                 class="validate"
                 required
                 ng-focus="loginInfo.password = undefined"
                 ng-model="loginInfo.password"/>
        <div ng-messages="loginForm.password.$error" ng-if="loginForm.$submitted">
          <div ng-message="required">Mot de passe valide requis.</div>
        </div>

        <p type="button" ng-click="sendPasswordToken(loginInfo.username)" tooltipped data-position="bottom" data-delay="50" data-tooltip="Pour réinitialiser votre mot de passe veuillez remplir le champ email">Mot de passe oublié ?</p>
      </div>

      </br>
    
	  <div>
      <button type="submit" class="waves-effect waves-light btn-large right red  z-depth-0">Se connecter</button>
    </div>
  </form>
</div>
</div>

<div class="presentation">
  <div class="row center">

<h3 class="light center">Vous n'êtes pas inscrit ?</h3>
<h5 class="light center">Allez c'est par ici.</h5>
<a ui-sref="userForm" class="waves-effect waves-light btn-large red" z-depth-0><i class="material-icons left"></i>Je m'inscrit</a>

</div>
</div>