<!-- Ceci est la page contributions. Cette page permet aux utilisateurs de contribuer à la plateforme de plusieurs façons -->

<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot" >
      <div class="container">
        <br><br>
        <h1 class="header light white-text">Zone contribution</h1>
          <h5 class="header light white-text">Contribuer ici au developpement de plateforme.</h5>
       </div>
    </div>
  </div>

  <div class="container">
  <div class="espace">
  <div class="row pointer">

  	  <div class="col s12 m4" ui-sref="achat">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">insert_emoticon</i></h2>
            <h5 class="center">Acheter des macarons</h5>

            <p class="center light">Contribuer au developpement de la plateforme en achetant nos différents macarons.</p>
          </div>
        </div>

        <div class="col s12 m4" ng-click="experience()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">attach_money</i></h2>
            <h5 class="center">Faire un don</h5>

            <p class="center light">Faire un don permet d'enrichir et d'administrer la plateforme web. </p>
          </div>
        </div>

        <div class="col s12 m4" ng-click="activite()">
          <div class="icon-block">
            <h2 class="center orange-text"><i class="material-icons">cloud_upload</i></h2>
            <h5 class="center">Soumettre du contenus</h5>

            <p class="center light">Soumettre du contenus afin d'enrichir les connaissances du site.</p>
          </div>
        </div>


  	  </div>
  	    </div>
  	      </div>