<div class="card box z-depth-0 col s12 m3">
  <div class="card-image">
    <img ng-src="{{ activite.img }}"/>
  </div>
  <div class="card-content">
		<span class="card-title activator grey-text text-darken-4">
		<h6>{{ activite.toString() | limitTo : 40 }} </h6>
    <i class="material-icons right red-text"
       tooltipped
       data-position="bottom"
       data-delay="50"
       data-tooltip="Voir la fiche complète"
       ng-click="goToActivite(activite)">
      trending_flat
    </i>
			
		</span>
	</div>

  
</div>