<div id="index-banner" class="jumbotron">
    <div class="section no-pad-bot" >
      <div class="container">
        <h1 class="header light white-text">Activités</h1>
          <h5 class="header light white-text"></h5>
       </div>
    </div>
  </div>




<div class="presentation">
	<div class="container">
    <p>Voici plusieurs activités pédagogiques sur la diversité sexuelle et de genre pouvant être réalisées en classe. Elles permettent même de suivre le programme !  Toutes les activités sont pertinentes pour tous types de groupe. Cependant, certaines s'avèrent particulièrement intéressantes pour des groupes multiculturels puisqu'elles abordent plusieurs formes de diversité et permettent aux élèves de comprendre les similitudes entre les différentes formes de discrimination.</p>
  </div>
</div>




<activites-galerie activites="activites"
                   activites-per-row="4"
                   show-filters="true">
</activites-galerie>



  